Flask==3.1.0
python-dotenv==1.0.1
docker==7.1.0
pytest==8.3.4
fastapi==0.116.1
uvicorn==0.35.0
neo4j==5.28.2
pydantic==2.11.7
celery==5.5.3
redis==5.2.1
prometheus-client==0.21.1
grpcio==1.74.0
grpcio-tools==1.74.0
opentelemetry-api==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-exporter-otlp==1.36.0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-instrumentation-flask==0.57b0
